<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2"> 
        <h1 style="color:white; text-align: center;">{{msg}}</h1>
<br><br>
        <form class="clearfix mb-4">

          <div class="form-group">
            <label for="example-name">
              <h3 style="color:white">Prize:</h3>
              </label>
            <input type="text" id="example-name" class="form-control" aria-describedby="example-name" placeholder="Prize">
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>

        <h3 style="color:white">Current Games:</h3>

        <ul id="example-list" class="list-group">
          {{#each games}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="games/{{this.id}}">{{this.name}} -- {{#if this.isOver}}OVER{{else}}OPEN{{/if}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>
<br>
<br>

<script src="/js/index.js"></script>
